// colours

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }
// typography/font-sizes
$font-S: 12px;
$font-M: 20px;
$font-L: 28px;  

.html {

$dark-colour: #832323;}
